body {
    background-image: url("../imagens/Design.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font: 52px dancing script, Arial;
}

.main-conteudo {
    margin-top: 20px;
    padding: 0 16px;
}

.comeco {
    h2 {
        text-decoration: underline;
        font-size: 76px;
        font-family: dancing script, Arial;
        margin-bottom: 22px;
    }

    p {
        line-height: 1.7;
        text-align: justify;
        margin-left: 0px;
        font-size: 22px;
    }
}

section {
    margin-bottom: 80px;
}

section.utensilios {
    width: 500px fit-content;
    height: auto;
}

section.sobre {
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: rgb(225, 185, 226);
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px !important;
}

section.sobre img {
    width: 300px;
    border-radius: 20px;
}

section.sobre .sobre-texto {
    flex: 1;
    min-width: 280px;
}


section.sobre p {
    line-height: 1.7;
    text-align: justify;
    font-size: 22px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    section.sobre img {
        width: 100%;
    }

}