h1 {
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row {
    .col {
        img {
            width: 100%;
            max-width: 400px;
            height: auto;
            margin-top: 50px;
        }
    }
}